## Example env file

# Server configuration
RUN_ADDRESS=:8081

# DB (Postgres)
DATABASE_URI=postgres://user:pass@localhost:5432/accrual_db?sslmode=disable

# Yaml path
ACCRUAL_CONFIG_PATH=config/accrual.yaml

# Goose migrations
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://user:pass@localhost:5432/accrual_db?sslmode=disable
GOOSE_MIGRATION_DIR=./migrations/accrual
