## Example env file

# Server configuration
RUN_ADDRESS=:8080

# DB (Postgres)
DATABASE_URI=postgres://user:pass@localhost:5432/gophermart_db?sslmode=disable

# Accrual
ACCRUAL_SYSTEM_ADDRESS=http://localhost:8081

# Yaml path
GOPHERMART_CONFIG_PATH=config/gophermart.yaml

# Goose migrations
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://user:pass@localhost:5432/gophermart_db?sslmode=disable
GOOSE_MIGRATION_DIR=./migrations/gophermart

# JWT
S_KEY=very-super-secret-key
